.index {
  display: flex;
  justify-content: space-around;
  padding: 30rpx;
  // background: #f0f8ff;
  min-height: 100%;
  box-sizing: border-box;
}
navigator {
  display: inline-block;
  width: 45%;
  height: 150rpx;
  text-align: center;
  box-shadow: 0rpx 4rpx 10rpx #ddd;
  border-radius: 10rpx;
  padding: 30rpx;
  box-sizing: border-box;

  text {
    display: block;
    font-size: 24rpx;
    line-height: 50rpx;
  }
  .iconfont {
    font-size: 40rpx;
    color: #666;
  }
}